@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar__menu {
  display: block;
  width: 40px;
  height: 40px;
}

.logo-box {
  width: 177px;
  height: 45px;
}

.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar__nav {
  display: none;
}


@media (min-width: 760px) {
  .navbar {
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navbar__item {
    text-transform: uppercase;
  }

  .navbar__item button {
    text-transform: uppercase;
    padding: 10px 12px;
    border: none;
    background: #000;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  .navbar__item button:hover {
    filter: brightness(1.4);
    background: rgba(0, 0, 0, 0.7);
  }

  .hero {
    max-width: 1140px;
    background: #E7E6E6;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
  }

  .hero__left {
    padding: 60px 80px;
  }

  .hero__left h1 {
    width: 100px;
    font-size: 56px;
    font-weight: 800;
  }

  .highlight__white {
    background: #fff;
    padding: 10px 20px;
    margin-left: -20px;
    padding-right: 125px;
  }

  .highlight__gold {
    background: #E6C744;
    padding: 10px 20px;
    margin-left: -20px;
    padding-right: 50px;
  }

  .hero__left p {
    margin: 20px 0;
    font-size: 18px;
    width: 380px;
  }

  .hero__btn {
    border: none;
    font-size: 18px;
    border-radius: 6px;
    background: #000;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    transition: all 0.3s ease;
  }

  .hero__btn:hover {
    filter: brightness(1.4);
    background: rgba(0, 0, 0, 0.7);
  }

  .hero__right {
    width: 100%;
    display: flex;
    height: 540px;
  }

  .hero__right img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    object-fit: cover;
  }
}

@media (min-width: 920px) {
  .navbar__nav {
    gap: 40px;
  }
}