@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar__menu {
  display: block;
  width: 40px;
  height: 40px;
}

.logo-box {
  width: 177px;
  height: 45px;
}

.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar__nav {
  display: none;
}


@media (min-width: 760px) {
  .navbar {
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navbar__item {
    text-transform: uppercase;
  }

  .navbar__item button {
    text-transform: uppercase;
    padding: 10px 12px;
    border: none;
    background: #000;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
  }
}

@media (min-width: 920px) {
  .navbar__nav {
    gap: 40px;
  }
}